@keyframes anim-direct-move {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(200px);
    }
}

.anim-direction {
    .item {
        display: flex;
        align-items: center;
        .label {
            width: 290px;
            margin-right: 20px;
        }
        .box {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: anim-direct-move 3s linear 2s infinite backwards;
        }
    }
}
