div {
  transform: matrix(1, 2, 3, 4, 5, 6);
  transform: rotate(0.5turn);
  transform: translate(12px, 50%);
  transform: translateX(12px) translateY(50%);
  transform: scale(2, 0.5);
  transform: scaleX(2) scaleY(0.5);
  transform: skew(30deg, 30deg);
  transform: skewX(30deg) skewY(30deg);
}

div {
  /* 设置一个属性, 属性名 | 时长 */
  transition: margin-right 4s;
  /* 属性名 | 时长 | 延迟 */
  transition: margin-right 4s 1s;
  /* 属性名 | 时长 | 缓动函数 */
  transition: margin-right 4s ease-in-out;
  /* 属性名 | 时长 | 缓动函数 | 延迟 */
  transition: margin-right 4s ease-in-out 1s;

  /* 设置两个属性 */
  transition: margin-right 4s, color 1s;

  /* 设置所有属性 */
  transition: all 0.5s ease-out;
}

.target {
  /* @keyframes name | duration | easing-function | delay
| iteration-count | direction | fill-mode | play-state */
  animation: slidein 3s ease-in 1s 2 reverse both paused;

  /* name | duration | easing-function | delay*/
  animation: slidein 3s linear 1s;

  /* two animations */
  animation: slidein 3s linear, slideout 3s ease-out 5s;
}

.target {
  /* 单个动画 */
  animation-name: none;
  animation-name: slideIn;
  /* 多个动画 */
  animation-name: slideIn, fadeIn;
}

.target {
  /* 单个动画 */
  animation-duration: 6s;
  animation-duration: 120ms;

  /* 多个动画 */
  animation-duration: 1.64s, 15.22s;
  animation-duration: 10s, 35s, 230ms;
}

.target {
  /* 单个动画 */
  animation-direction: normal;
  animation-direction: reverse;
  animation-direction: alternate;
  animation-direction: alternate-reverse;

  /* 多个动画 */
  animation-direction: normal, reverse;
  animation-direction: alternate, reverse, normal;
}

.target {
  /* 单个动画 */
  animation-delay: 3s;
  animation-delay: 0s;
  animation-delay: -1500ms;

  /* 多个动画 */
  animation-delay: 2.1s, 480ms;
}

.target {
  /* 单个动画 */
  animation-fill-mode: none;
  animation-fill-mode: forwards;
  animation-fill-mode: backwards;
  animation-fill-mode: both;

  /* 多个动画 */
  animation-fill-mode: none, backwards;
  animation-fill-mode: both, forwards, none;
}

.target {
  /* 单个动画 */
  /* 关键词 */
  animation-iteration-count: infinite;
  /* 数字，支持小数 */
  animation-iteration-count: 3;
  animation-iteration-count: 2.4;

  /* 多个动画 */
  animation-iteration-count: 2, 0, infinite;
}

.target {
  /* 单个动画 */
  /* 关键词 */
  animation-timing-function: ease;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
  animation-timing-function: step-start;
  animation-timing-function: step-end;

  /* 函数 */
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  animation-timing-function: steps(4, end);
  /* 多个动画 */
  animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1, 0.1);
}

.anim-play-state {
  /* 单个动画 */
  animation-play-state: running;
  animation-play-state: paused;

  /* 多个动画 */
  animation-play-state: paused, running, running;
}
