@keyframes slideIn {
  from {transform: translateX(-100%);}
  to {transform: translateX(0%);}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes jump {
  0% {transform: translateY(0);}
  33% {transform: translateY(50px);}
  66% {transform: translateY(0);}
  100% {transform: translateY(50px);}
}
.anim {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  .box {
    animation: slideIn 1s linear 3s;
  }
  .slideIn {
    animation-name: slideIn;
  }
  .fadeIn {
    animation-name: fadeIn;
  }
  .jump {
    animation-name: jump;
  }
}
